// Navigation Styles here


header {

    display: flex;
    justify-content: space-between;
    align-content: baseline;
    .Border();
    padding: 3rem;
    

}

.NaviBar {
    display: flex;
}




a {
    font-size: 20px;
    margin: 1rem;
    text-decoration: none;
    color: black;
}
@media (max-width: @mobile){
    .NaviBar {
        
    justify-content: center;
    align-items: center;
    }
}